<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Temperature</title>
    </head>

    <body>
        <div id="result" th:id="result"></div>
        <script  type="text/javascript" src="../../resources/js/jquery-1.10.1.min.js">
        </script>

        <script>

            function getTemparature() {
                $.ajax({
                    type: 'GET',
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify({}),
                    url: "/getTemperature",
                    success: function (data) {
                        $('#result').html(data.temperature);
                    }
                });
            }

        </script>
        <script type="text/javascript">
            var intervalId = 0;
            intervalId = setInterval(getTemparature, 5000);
        </script>

        

    </body>
</html>